<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yytech.ochatclient">

    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".FirstActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PersonInfoActivity" />
        <activity android:name=".EditPersonInfoActivity" />
        <activity android:name=".AddPeopleActivity" />
        <activity android:name=".FilePathList" />
        <activity android:name=".UpLoadActivity" />
        <activity android:name=".DownLoadActivity" />
        <activity android:name=".FtpActivity" />
        <activity android:name=".NewPeopleActivity" />

        <receiver
            android:name=".broadcast.addFriendRequestBroad"
            android:exported="false">
            <intent-filter>
                <action android:name="MY_ACTION" />
            </intent-filter>
        </receiver>

        <activity android:name=".NewsActivity" />
        <activity android:name=".FirstAddSuccessActivity"></activity>
    </application>

</manifest>